@model P.V.WantHelp_.Models.Material

@{
    ViewBag.Title = "IngresaAlMaterial";
}
<script>
    $(document).ready(function () {
        $(".descargar").click(function (e) {
            e.preventDefault();
            $(".linkdescarga").html("<b>Progresando Descarga...</b>");
            $.post($(this).attr("href"), {}, function (data) {
                $(".linkdescarga").html("<a href='"+data.link+"'>Procesando Descarga</a>");
            }, "json");
        });
    });
</script>
<h2>IngresaAlMaterial</h2>
<div>
    <a href="/Estudiante/Descargartodo/" class="descargar">Descargar Todos los Archivos</a>
    <div class="linkdescarga">
    </div>
</div>
