
 @section preguntasforo{

    <div>
        <ul class="menu_pregunta">
            <li>Mejores</li>
            <li>Nuevas</li>
            <li>No Resueltas</li>
        </ul>
    </div>
    <div style="border:0px solid #000;margin-left:25%; width:320px;">
        <input type="text" placeholder="Coloque su pregunta" /> 
    </div>
    <div class="preguntadiv" style="border:1px solid #000;">
        <div style="border:1px solid #000;width:180px; max-width:180px;height:100px;margin:5px 0px 0px 5px;display:inline-block;">
            <p style="text-align:center;">.bbbbbbb</p>
        </div>
        <div style="border:1px solid #000;width:70px; max-width:70px; height:70px;max-height:70px;display:inline-block;margin:5px 5px 0px 5px;background-image:url(../Image/international-forex-trading.png)">.</div>
        <div>
            <div style="border:0px solid #000;display:inline-block;margin-left:5px;margin-top:5px;display:inline-block;">
                <a class="respuesta">2 respuesta</a>
            </div>
            <div style="border:0px solid #000;display:inline-block;margin-left:5px;margin-top:5px;display:inline-block;">Puntaje &nbsp;
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
    </div>

}