@{
    ViewBag.Title = "About";
}
<section class="content-wrapper main-content clear-fix" >
    <div id="body_Curso" style="height:500px;">
        <hgroup class="title" style="margin-left:15%;">
            <h1>Nuestra Página</h1>
            <h2>Plataforma Virtual</h2>
        </hgroup>

        <div style="margin:0 auto; width:70%; text-align:justify;margin-left:15%;">
            Nuestra Plataforma Virtual, siguiendo la filosofía de la Universidad,
            considera al estudiante como el eje central de todo el proceso educativo.
            Bajo este principio, creemos que se debe diponer de las herramientas 
            necesarias para acompañar de manera exitosa este proceso desde su inicio 
            hasta su conclusión y extender el proceso de enseñanza aprendizaje mas allá del aula.
            En este sentido la plataforma esta orientada a enriquecer y facilitar este 
            proceso utilizando las nuevas tecnologías educativas disponibles y 
            poniéndolas a disposición de los estudiantes y docentes.
        </div>
        <div style="margin-left:26%;margin-top:5%;">
            <img src="~/Image/fp-roktabstop-3.jpg"/ style="border-radius:8px;">
       </div>
    </div>
</section>