@{
    ViewBag.Title = "Contact";
}
<section class="content-wrapper main-content clear-fix">
<div id="body_Curso">
<hgroup class="title">
    <h1>Contáctanos</h1>
    
</hgroup>
<img src="~/Image/bannera3v3.jpg" style="width:600px;margin-left:18%;"/>

<section class="contact">
    <header>
        <h3>Teléfonos</h3>
    </header>
    <p>
        <span class="label">Alfredo</span>
        <span>76164334</span>
    </p>
    <p>
        <span class="label">Amelia</span>
        <span>72432290</span>
    </p>
    <p>
        <span class="label">Miguel</span>
        <span>75726966</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Emails</h3>
    </header>
    <p>
        <span class="label">1)==></span>
        <span><a href="#">alfredo@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">2)==></span>
        <span><a href="#">amelia@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">3)==></span>
        <span><a href="#">miguel@hotmail.com</a></span>
    </p>
</section>


<section class="contact">
    <header>
        <h3>Informacion</h3>
    </header>
    <p>
        Los Administradores se contactaran mandanos un mensaje a nuestros Emails...
    </p>
</section>
    </div>
</section>